{% assign date = include.date %}
{% assign lang = include.lang | default: 'id' %}
{% assign tooltip = include.tooltip | default: false %}
{% assign format = include.format | default: 'post' %}

{% case format %}
  {% when 'post' %}
    {% assign date_format = site.data.locales[lang].df.post.strftime | replace: 'Tuesday', 'Selasa' | replace: 'Wednesday', 'Rabu' | replace: 'Thursday', 'Kamis' | replace: 'Friday', 'Jumat' | replace: 'Saturday', 'Sabtu' | replace: 'Sunday', 'Minggu' | replace: 'Monday', 'Senin' | replace: 'January', 'Januari' | replace: 'February', 'Februari' | replace: 'March', 'Maret' | replace: 'April', 'April' | replace: 'May', 'Mei' | replace: 'June', 'Juni' | replace: 'July', 'Juli' | replace: 'August', 'Agustus' | replace: 'September', 'September' | replace: 'October', 'Oktober' | replace: 'November', 'November' | replace: 'December', 'Desember' %}
  {% when 'archives' %}
    {% assign date_format = site.data.locales[lang].df.archives.strftime %}
  {% else %}
    {% assign date_format = '%Y-%m-%d' %}
{% endcase %}

{% assign formatted_date = date | date: date_format | replace: 'Monday', 'Senin' | replace: 'Tuesday', 'Selasa' | replace: 'Wednesday', 'Rabu' | replace: 'Thursday', 'Kamis' | replace: 'Friday', 'Jumat' | replace: 'Saturday', 'Sabtu' | replace: 'Sunday', 'Minggu' %}

{% if tooltip %}
  <time datetime="{{ date | date_to_xmlschema }}" class="post-meta" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ formatted_date }}">
    {{ formatted_date }}
  </time>
{% else %}
  <time datetime="{{ date | date_to_xmlschema }}" class="post-meta">
    {{ formatted_date }}
  </time>
{% endif %}
