<div class="share-wrapper d-flex align-items-center">
  <span class="share-label text-muted">{{ site.data.locales[include.lang].post.share }}</span>
  <span class="share-icons">
    <button
      id="copy-link"
      aria-label="Copy link"
      class="btn small"
      data-bs-toggle="tooltip"
      data-bs-placement="top"
      title="{{ site.data.locales[include.lang].post.button.share_link.title }}"
      data-title-succeed="{{ site.data.locales[include.lang].post.button.share_link.succeed }}">
      <i class="fa-fw fas fa-link pe-none fs-6"></i>
    </button>
  </span>
</div>
