.preview-img {
  aspect-ratio: auto;
  height: auto;
}

#post-list .card-body {
  height: auto;
}

#post-list .card-body .post-meta {
  flex-grow: 0 !important;
}

#post-list .col-md-5 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#post-list .col-md-7 {
  align-self: stretch;
}
