.preview-img {
  aspect-ratio: auto;
  height: auto;
}

#post-list .card-body {
  height: auto;
}

#post-list .card-body .post-meta {
  flex-grow: 0 !important;
}

#post-list .col-md-5 img {
  max-height: 250px;
  width: 100%;
  object-fit: cover;
}
